<head>
<style type="text/css">
  body {background-color:#222222; color:white; text-align:center; font-size:12px}
  div.centered {text-align:center; font-size:12px}
  div.centered table {margin: 0 auto; text-align: left; font-size:12px}
  a {color:yellow; text-decoration:none;}
  a:hover {text-decoration:underline;}
  table.teaching td { padding:3px 10px; vertical-align:top;}
  table.talks td { padding:3px 10px; vertical-align:top;}
  table.publications td { padding:3px 10px; vertical-align:top;}
  .special-column { width:110px; text-align:right; vertical-align:top;}
  .special-column-year { font-weight:normal; text-align:right;}
  .special-column-teaching { font-weight:normal; vertical-align:top;}
  .special-column-author { max-width:120px; text-align:center}
  .special-column-journal { max-width:400px;}
  .special-column-title { max-width:500px;}
  .special-column-conference { max-width:650px;}
  .blank-row {height:20px;}
  div {padding-bottom:40px;}
</style>
</head>
<body>
  <b>Christian Eder</b><br><br>
  <a href="#teaching">Teaching</a>
  | <a href="#publications">Publications</a>
  | <a href="#talks">Talks</a>
  | <a href="#conferences">Conferences & Workshops</a>
  | <a href="#contact">Contact</a>
<br><br>
<img src="download/web.jpg" width="350px">
<br><br>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
TEACHING
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="teaching">
------------------ &nbsp; Teaching &nbsp; ------------------
</h3>
<div class="centered">
<table class="teaching">
<tr>
<td class="special-column-teaching">Classes</td>
<td class="special-column">Summer 14</td>
<td><a
href="teaching/topology.html">
Introduction to topology</a></td>
</tr>
<tr class="blank-row"></tr>
<tr>
<td></td>
<td class="special-column">January 13</td>
<td><a
href="http://aimssec.aims.ac.za/">
Numbers and algebra for MT FET at AIMSSEC in Stellenbosch, South Africa</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td><a
href="http://aimssec.aims.ac.za/">
Several IT courses for MT FET at AIMSSEC in Stellenbosch, South Africa</a></td>
</tr>
<tr class="blank-row"></tr>
<tr class="blank-row"></tr>

<tr>
<td class="special-column-teaching">
Tutorials
</td>
<td class="special-column">Winter 12/13</td>
<td><a
href="http://www.mathematik.uni-kl.de/techno/teaching/ws-2012/grundlagen-der-mathematik-gdm-i/">
Grundlagen der Mathematik I (Introduction to Analysis and Linear
    Algebra)</a></td>
</tr>
<tr>
<td></td>
<td></td>
<td>
<a
href="http://www.mathematik.uni-kl.de/~decker/Lehre/WS12/CommutativeAlgebra/index.html">
Commutative Algebra</a></td>
</tr>
<tr class="blank-row"></tr>
<tr>
<td></td>
<td class="special-column">Summer 12</td>
<td><a
href="http://www.mathematik.uni-kl.de/~decker">
H&ouml;here Mathematik 4: Funktionentheorie (Maths for electric engineers:
    Complex analysis)</a></td>
</tr>
<tr class="blank-row"></tr>
<tr>
<td></td>
<td class="special-column">Winter 11/12</td>
<td>Computer Algebra</td>
</tr>
<tr>
<td></td>
<td></td>
<td>
<a
href="http://www.mathematik.uni-kl.de/~keilen/Lehre/WS11/caws11de.html">
Commutative Algebra</a></td>
</tr>
<tr class="blank-row"></tr>
<tr>
<td></td>
<td class="special-column">Summer 11</td>
<td><a
href="http://www.mathematik.uni-kl.de/~decker/Lehre/SS11/pramaSymbol/index.html">
Praktische Mathematik: Einf&uuml;hrung in das symbolische Rechnen (Introduction
    to symbolic computations)</a></td>
</tr>
<tr class="blank-row"></tr>
<tr>
<td></td>
<td class="special-column">Summer 09</td>
<td>
<a
href="http://www.mathematik.uni-kl.de/~uebungen/Szyschweigert/algss09/algss09.htm">
Mathematik f&uuml;r Informatiker: Algebraische Strukturen (Maths for computer
    scientists: Algebraic structures)
</a>
</td>
</tr>
</table>
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
PUBLICATIONS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="publications">
------------------ &nbsp; Publications &nbsp; ------------------
</h3>
<div class="centered">
<table class="publications">
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2013
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2013
</td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://dx.doi.org/10.1016/j.jsc.2013.08.001">
An analysis of inhomogeneous signature-based Groebner basis computations
</a>
</td>
<td class="special-column-journal">
Journal of Symbolic Computation, 59, 21-35
</td>
</tr>
<tr>
<td></td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://arxiv.org/abs/1201.6472">
Improving incremental signature-based Groebner bases algorithms
</a>
</td>
<td class="special-column-journal">
ACM SIGSAM Communications in Computer Algebra, 47(1), 1-13
</td>
</tr>
<tr>
<td></td>
<td class="special-column-author">
Christian Eder, Bjarke Hammersholt Roune
</td>
<td class="special-column-title">
Signature Rewriting in Groebner Basis Computation
</td>
<td class="special-column-journal">
ISSAC 2013: Proceedings of the 2013 international symposium of symbolic and
algebraic computation, Boston, Massachusetts (USA), 331-338
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2012
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2012
</td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://arxiv.org/abs/1203.6186v3">
Sweetening the sour taste of inhomogeneous signature-based Groebner basis
computations
</a>
</td>
<td class="special-column-journal">
preprint
</td>
</tr>
<tr>
<td></td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://www.mathematik.uni-kl.de/~ederc/download/thesis.pdf">
Signature-based algorithms to compute standard bases
</a>
</td>
<td class="special-column-journal">
Thesis, University of Kaiserslautern
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2011
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2011
</td>
<td class="special-column-author">
Christian Eder, Justin Gash, John Perry
</td>
<td class="special-column-title">
<a href="http://arxiv.org/abs/1006.0318">
Modifying Faug&egrave;re's F5 algorithm to ensure termination
</a>
</td>
<td class="special-column-journal">
ACM SIGSAM Communications in Computer Algebra, 45(2), 70-89
</td>
</tr>
<tr>
<td></td>
<td class="special-column-author">
Christian Eder, John Perry
</td>
<td class="special-column-title">
<a href="http://arxiv.org/abs/1101.3589">
Signature-based algorithms to compute Groebner bases
</a>
</td>
<td class="special-column-journal">
ISSAC 2011: Proceedings of the 2011 international symposium of symbolic and
algebraic computation, San Jose (USA), 99-106
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2010
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2010
</td>
<td class="special-column-author">
Christian Eder, John Perry
</td>
<td class="special-column-title">
<a href="http://dx.doi.org/10.1016/j.jsc.2010.06.019">
F5C: A variant of Faug&egrave;re's F5 algorithm with reduced Groebner bases
</a>
</td>
<td class="special-column-journal">
Journal of Symbolic Computation (MEGA2009 special issue),
45(12), 1442-1458
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2008
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2008
</td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://arxiv.org/abs/0804.2033">
On the criteria of Faug&egrave;re's F5 algorithm
</a>
</td>
<td class="special-column-journal">
preprint
</td>
</tr>
<tr>
<td></td>
<td class="special-column-author">
Christian Eder
</td>
<td class="special-column-title">
<a href="http://www.math.md/publications/csjm/issues/v16-n1/8698/">
A new attempt on the F5 Criterion
</a>
</td>
<td class="special-column-journal">
The Computer Science Journal of Moldova, Volume 16, 4-14
</td>
</tr>
</table>
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
TALKS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="talks">
------------------ &nbsp; Talks &nbsp; ------------------
</h3>
<div class="centered">
<table class="talks">
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2014
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2014
</td>
<td class="special-column-year">
March 04
</td>
<td class="special-column-title">
<a href="download/bad-boll-2014.pdf">
Signature-based Gr&ouml;bner bases
</a>
</td>
<td class="special-column-journal">
4th annual meeting of priority project SPP1489, Bad Boll (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2013
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2013
</td>
<td class="special-column-year">
December 11
</td>
<td class="special-column-title">
<a href="download/hpac-lyon.pdf">
Hybrid Matrix Multiplication and Gaussian Elimination
</a>
</td>
<td class="special-column-journal">
HPAC Developers Meeting, Lyon (France)
</td>
</tr>
<tr>
<td>
</td>
<td class="special-column-year">
September 04
</td>
<td class="special-column-title">
<a href="download/gbrela-sig.pdf">
Signature-based Gr&ouml;bner Basis computation
</a>
</td>
<td class="special-column-journal">
Gr&ouml;bner Bases, Resultants and Linear Algebra: GBRELA 2013, at RISC in
Hagenberg (Austria)</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
September 04
</td>
<td class="special-column-title">
Introduction to F4 & F5 (slides by Jean-Charles Faug&egrave;re, available <a
  href="http://www-polsys.lip6.fr/~jcf/Publications/index.html#F13">here</a>)</td>
<td class="special-column-journal">
Gr&ouml;bner Bases, Resultants and Linear Algebra: GBRELA 2013, at RISC in
Hagenberg (Austria)</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 29
</td>
<td class="special-column-title">
<a href="download/issac2013.pdf">
Signature Rewriting in Gr&ouml;bner Basis Computation</a>
</td>
<td class="special-column-journal">
ISSAC 2013 Conference at Northeastern University, Boston Massachusetts (USA)</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 25
</td>
<td class="special-column-title">
<a href="download/hattiesburg2013.pdf">
Improved Gr&ouml;bner Basis computation with applications in
cryptography</a>
</td>
<td class="special-column-journal">
University of Mississippi, Hattiesburg Mississippi (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 12
</td>
<td class="special-column-title">
<a href="download/gb-lela.pdf">
Mathic, LELA, Singular and Xmalloc
</a>
</td>
<td class="special-column-journal">
HPAC Developers Meeting, Paris (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 11
</td>
<td class="special-column-title">
<a href="download/la-bencher.pdf">
Parallel schedulers on dense matrices
</a>
</td>
<td class="special-column-journal">
HPAC Developers Meeting, Paris (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
March 08
</td>
<td class="special-column-title">
<a href="download/inria.pdf">
Signature-based Gr&ouml;bner basis computation
</a>
</td>
<td class="special-column-journal">
University of Pierre and Marie Curie in Paris (France)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2012
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2012
</td>
<td class="special-column-year">
June 06
</td>
<td class="special-column-title">
<a href="download/elagb.pdf">
Signature-based Gr&ouml;bner basis algorithms in SINGULAR
</a>
</td>
<td class="special-column-journal">
University of Kaiserslautern (Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
April 13
</td>
<td class="special-column-title">
<a href="download/disputation.pdf">
Signaturbasierte Gr&ouml;bner Basen Algorithmen
</a>
</td>
<td class="special-column-journal">
University of Kaiserslautern (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2011
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2011
</td>
<td class="special-column-year">
July 21
</td>
<td class="special-column-title">
SINGULAR Tutorial
</td>
<td class="special-column-journal">
ACAGM Summer School in Leuven (Belgium)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 29
</td>
<td class="special-column-title">
<a href="download/aca2011.pdf">
Signature-based algorithms to compute Gr&ouml;bner bases
</a>
</td>
<td class="special-column-journal">
The 17th International Conferences on 
  Applications of Computer Algebra ACA 2011, Houston Texas (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 29
</td>
<td class="special-column-title">
<a href="download/singular.pdf">
SINGULAR - Recent developments
</a>
</td>
<td class="special-column-journal">
The 17th International Conferences on 
  Applications of Computer Algebra ACA 2011, Houston Texas (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 09
</td>
<td class="special-column-title">
<a href="download/seminar.pdf">
Signature-based algorithms to compute Gr&ouml;bner bases
</a>
</td>
<td class="special-column-journal">
joint seminar KL - SB, University of Saarbr&uuml;cken (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2010
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2010
</td>
<td class="special-column-year">
September 16
</td>
<td class="special-column-title">
SINGULAR's memory management (with Hans Sch&ouml;nemann)
</td>
<td class="special-column-journal">
SINGULAR Workshop, TU Kaiserslautern (Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
September 15
</td>
<td class="special-column-title">
<a href="download/singularF4Talk.pdf">
An introduction to F4, some remarks on F5
</a>
</td>
<td class="special-column-journal">
SINGULAR Workshop, TU Kaiserslautern (Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 17
</td>
<td class="special-column-title">
<a href="download/cased_talk.pdf">
Faug&egrave;re's F5 algorithm: variants and termination issues
</a>
</td>
<td class="special-column-journal">
Oberseminar am Lehrstuhl J. Buchmann, TU Darmstadt (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2009
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2009
</td>
<td class="special-column-year">
June 24
</td>
<td class="special-column-title">
<a href="download/sageDays16_talk.pdf">
Faug&egrave;re's F5 algorithm: variants and implementation issues
</a>
</td>
<td class="special-column-journal">
Sage Days 16 in Barcelona (Spain)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 16
</td>
<td class="special-column-title">
<a href="download/mega2009_talk.pdf">
F5C: a variant of Faug&egrave;re's F5 algorithm with reduced Groebner bases
</a>
</td>
<td class="special-column-journal">
MEGA 2009 Conference in Barcelona (Spain)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2008
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2008
</td>
<td class="special-column-year">
July 08
</td>
<td class="special-column-title">
<a href="download/vortragSoria2008.pdf">
On the criteria of Faug&egrave;re's F5 Algorithm
</a>
</td>
<td class="special-column-journal">
Soria Summer School on Computational Mathematics in Soria (Spain)
</td>
</tr>
</table>
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CONFERENCES & WORKSHOPS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="conferences">
------------------ &nbsp; Conferences & Workshops &nbsp; ------------------
</h3>
<div class="centered">
<table class="teaching">
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2014
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2014
</td>
<td class="special-column-year">
March 06-07
</td>
<td class="special-column-conference">
Developers Meeting with INRIA PolSys Team, Paris (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
March 03-04
</td>
<td class="special-column-conference">
4th annual meeting of priority project SPP1489, Bad Boll
(Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2013
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2013
</td>
<td class="special-column-year">
December 10-11
</td>
<td class="special-column-conference">
HPAC Developers Meeting, Lyon (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
November 08
</td>
<td class="special-column-conference">
Research meeting on signature-based Gr&ouml;bner bases in Kaiserslautern
(Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
September 03-06  
</td>
<td class="special-column-conference">
Gr&ouml;bner Bases, Resultants and Linear Algebra: GBRELA 2013, at RISC in
Hagenberg (Austria)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 26-29  
</td>
<td class="special-column-conference">
ISSAC 2013 Conference at Northeastern University, Boston Massachusetts (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 23-25  
</td>
<td class="special-column-conference">
Meeting John Perry, Hattiesburg (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 11-12  
</td>
<td class="special-column-conference">
HPAC Developers Meeting, Paris (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 03-07  
</td>
<td class="special-column-conference">
MEGA 2013, Frankfurt am Main (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2012
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2012
</td>
<td class="special-column-year">
August 27-31  
</td>
<td class="special-column-conference">
3rd Singular GAP Developers Meeting, St. Andrews (Scotland)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 25-28  
</td>
<td class="special-column-conference">
ACA 2012 - 18th International Conference on Applications of Computer Algebra,
Sofia (Bulgaria)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 04-08  
</td>
<td class="special-column-conference">
Efficient Linear Algebra for Gr&ouml;bner Basis Computations,
Kaiserslautern (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2011
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2011
</td>
<td class="special-column-year">
November 14-18
</td>
<td class="special-column-conference">
2nd Singular GAP Developers Meeting,
Kaiserslautern (Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
September 26-30
</td>
<td class="special-column-conference">
Singular Sage Days (Sage Days 34),
Kaiserslautern (Germany)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
July 10-22
</td>
<td class="special-column-conference">
ACAGM Summer School, Leuven (Belgium)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 27-30
</td>
<td class="special-column-conference">
The 17th International Conferences on Applications of Computer Algebra ACA
2011, Houston, Texas (USA)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
May 16-20
</td>
<td class="special-column-conference">
1st Singular GAP Developers Meeting,
St. Andrews (Scottland)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
February 21-25
</td>
<td class="special-column-conference">
1st annnual meeting of DFG priority project SPP 1489, Aachen (Germany)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2010
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2010
</td>
<td class="special-column-year">
September 15-17
</td>
<td class="special-column-conference">
Software Workshop: Fast linear algebra, Gr&ouml;bner Baes, and Parallelization
in SINGULAR, Kaiserslautern (Germany)</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
July 21-23
</td>
<td class="special-column-conference">
PASCO 2010, Grenoble (France)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
February 11-14
</td>
<td class="special-column-conference">
Software Workshop: Geometry & Combinatorics I, Kaiserslautern (Germany)</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2009
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2009
</td>
<td class="special-column-year">
July 13-24
</td>
<td class="special-column-conference">
S^3CM summer school 2009, Soria (Spain)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 22-27
</td>
<td class="special-column-conference">
Sage Days 16, Barcelona (Spain)
</td>
</tr>
<tr>
<td></td>
<td class="special-column-year">
June 15-19
</td>
<td class="special-column-conference">
MEGA 2009, Barcelona (Spain)
</td>
</tr>
<tr class="blank-row"></tr>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
2008
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<tr>
<td class="special-column-year">
2008
</td>
<td class="special-column-year">
July 23-30
</td>
<td class="special-column-conference">
S^3CM summer school 2008, Soria (Spain)
</td>
</tr>
</table>
</div>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CONTACT
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="contact">
------------------ &nbsp; Contact &nbsp; ------------------
</h3>
<div>
ederc ((at)) mathematik ((dot)) uni ((minus)) kl ((dot)) de<br><br>
Phone: +49 (0)631 205 4406<br>
Fax: +49 (0)631 205 4795<br><br>
Office: 48-425<br><br>
Department of Mathematics<br>
University of Kaiserslautern<br>
PO box 3049<br>
67653 Kaiserslautern
</div>
<b>NOTE:</b> On February 01, 2013 I started my research position at INRIA in the
<a href="http://www-polsys.lip6.fr/Team/index.html">PolSys</a> project team at UPMC in Paris, France.
</div>

</div>
</body>
