<head>
<style type="text/css">
  body {background-color:#222222; color:white; text-align:center; font-size:12px}
  div.centered {margin: 0 auto; font-size:12px; width:550px; text-align:center}
  div.centered table {margin: 0 auto; text-align: left; font-size:11px}
  a {color:yellow; text-decoration:none;}
  a:hover {text-decoration:underline;}
  table.teaching td { padding:3px 10px; vertical-align:top;}
  table.talks td { padding:3px 10px; vertical-align:top;}
  table.publications td { padding:3px 10px; vertical-align:top;}
  .special-column { width:110px; text-align:right; vertical-align:top;}
  .special-column-year { font-weight:normal; text-align:right;}
  .special-column-teaching { font-weight:normal; vertical-align:top;}
  .special-column-author { max-width:120px; text-align:center}
  .special-column-journal { max-width:400px;}
  .special-column-title { max-width:500px;}
  .special-column-conference { max-width:650px;}
  .blank-row {height:20px;}
  div {padding-bottom:20px;}
  li { text-align:left;}
</style>
</head>
<body>
  <b>Einf&uuml;hrung in die Topologie 2014</b><br><br>
  <a href="#news">Aktuelles</a>
  | <a href="#contact">Kontakt</a>
  | <a href="#dates">Termine</a>
  | <a href="#credits">Leistungsnachweis</a>
  | <a href="#exercises">&Uuml;bungsbl&auml;tter</a>
  | <a href="#literature">Literatur</a>
  | <a href="../index.html">Home</a>
<br><br>
<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
NEWS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="news">
------------------ &nbsp; Aktuelles &nbsp; ------------------
</h3>
<div class="centered">
Meldet Euch bitte f&uuml;r die &Uuml;bungen im <a href="">URM</a> an und gebt dort Eure
Priorit&auml;ten an. 
Die &Uuml;bungsgruppen beginnen in der 2. Vorlesungswoche.
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CONTACT
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="contact">
------------------ &nbsp; Kontakt &nbsp; ------------------
</h3>
<div class="centered">
Ihr k&ouml;nnt mich jederzeit f&uuml;r Fragen, Beschwerden, oder Terminvereinbarungen per
Email kontaktieren. Um mir Eure
Vorschl&auml;ge oder Beschwerden anonym mitzuteilen, k&ouml;nnt Ihr mir
diese &uuml;ber Eure Kontaktstudentin/Euren Kontaktstudenten zukommen lassen.
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
DATES
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="dates">
------------------ &nbsp; Termine &nbsp; ------------------
</h3>
<div class="centered">
<center>
<b>Vorlesung</b> - w&ouml;chentlich - <a
href="http://www.kis.uni-kl.de/campus/all/event.asp?gguid=0xFD8C97BE19865441B780EE783E2B670F&tguid=0xE4777BCEEBE5F54A8C8F9E67B0F391B5">KIS</a>
<br>
<br>
dienstags 13:45 - 15:15, 48-208 (Beginn: 22.04.2014)
<br>
<br>
<br>
<b>&Uuml;bung</b> - alle 2 Wochen - <a
href="http://www.kis.uni-kl.de/campus/all/event.asp?gguid=0x0F618A6BDEDD0D45A6CD0C90ED06F192&tguid=0xE4777BCEEBE5F54A8C8F9E67B0F391B5">KIS</a>
<br>
<br>
1. dienstags, 15:30 - 17:00, 44-336 (Beginn: 29.04.2014)<br>
2. mittwochs, 11:45 - 13:15, 48-582 (Beginn: 30.04.2014)
<br><br>
Beide &Uuml;bungen werden von <b>Isabel Stenger</b> geleitet.<br>
Abgaben sind in Gruppen der Gr&ouml;&szlig;e &le; 2 m&ouml;glich.
</center>
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
TALKS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="exercises">
------------------ &nbsp; &Uuml;bungsbl&auml;tter &nbsp; ------------------
</h3>
<div class="centered">
<center>
Blatt 01
<br>
Blatt 02
<br>
Blatt 03
<br>
Blatt 04
<br>
Blatt 05
<br>
Blatt 06
<br>
Blatt 07
</center>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
CREDITS
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="credits">
------------------ &nbsp; Leistungsnachweis &nbsp; ------------------
</h3>
<div class="centered">
Studenten im Bachelorstudiengang Mathematik k&ouml;nnen im Sommersemester 2014 einen
Teilnahmenachweis zu den &Uuml;bungen der Einf&uuml;hrung in die Topologie erwerben.
Dazu mu&szlig; ein &uuml;bungsteilnehmer
<br>
<br>
<center>
<b>regelm&auml;&szlig;ig an den &Uuml;bungen teilnehmen
(dazu z&auml;hlt auch die Abgabe von selbst&auml;ndig und sinnvoll bearbeiteten
&Uuml;bungen)</b>.
</center>
<br>
Bei Abgabe der &Uuml;bungen in Zweiergruppen sollte erkennbar sein, da&szlig; beide
Teilnehmer ihren Beitrag zu den L&ouml;sungen geleistet haben. Zudem wird erwartet,
da&szlig; beide Teilnehmer in der Lage sind, ihre gemeinsame L&ouml;sung den
&uuml;brigen &Uuml;bungsteilnehmern an der Tafel zu erkl&auml;ren.
<br>
<br>
&Uuml;bungsteilnehmer mit anderen Studieng&auml;ngen k&ouml;nnen einen benoteten
&Uuml;bungsschein erwerben, der die erfolgreiche Teilnahme an den &uuml;bungen
bescheinigt. Dazu mu&szlig; ein &Uuml;bungsteilnehmer zus&auml;tzlich eine Pr&uuml;fung
bestehen, deren genaue Form noch in Abh&auml;ngigkeit zur Zahl
der betroffenen Teilnehmer festgelegt wird.
<br>
Bei der Note handelt es sich um die Note der Pr&uuml;fung.
</div>
</div>

<!--
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
LITERATURE
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
-->
<div>
<h3 id="literature">
------------------ &nbsp; Literatur &nbsp; ------------------
</h3>
<div class="centered">
Die Vorlesung wird keiner der folgenden Quellen streng folgen:
<ol>
<li>
A. Gathmann: Topologie (<a
    href="http://www.mathematik.uni-kl.de/~gathmann/class/topo-2013/main.pdf">
Skript von 2013</a>)
</li>
<li>
M. Barakat: Topologie (<a
    href="http://www.mathematik.uni-kl.de/~barakat/Lehre/SS12/Topologie/material/Topologie.pdf">
Skript von 2012</a>)
</li>
<li>
O. Ya. Viro, O. A. Ivanov, V. M. Kharlamov, N. Y. Netsvetaev: Elementary Topology.
Textbook in Problems (<a
    href="http://www.pdmi.ras.ru/~olegviro/topoman/eng-book-nopfs.pdf">
verk&uuml;rzte Version, Beweise entfernt)</a>)
</li>
<li>
K. J&auml;nich: Topologie
</li>
</ol>
</div>

</body>
